{{ define "main" }}
{{ .Content }}


<button id="btn-load-image" style="border: solid 2px #9f9f9f;; border-radius: 15px; padding:.25rem; margin: 1rem 0; ">new Image</button>
<h1 id="image-titel"></h1>
<div id="image-wrapper"></div>

<script>
const image_titel = document.getElementById("image-titel"); 
const image_wrapper = document.getElementById("image-wrapper"); 

document.getElementById('btn-load-image').addEventListener("click", ()=>{loadRandomImage()})

function loadRandomImage(){
    fetch('https://jsonplaceholder.typicode.com/photos/'+Math.floor(Math.random() * 5000))
        .then(response => response.json())
        .then(data => {
            image_titel.innerText =  data.id + " " + data.title; 
            const image = document.createElement('img'); 
            image.src =  data.url; 
            image_wrapper.replaceChildren(image)
            console.log(data)
        })  
        .catch(error => {
            console.error('Error:', error);
        });
}

loadRandomImage()

</script>

{{ end }}